.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Home img {
    width: 80%;
    margin: 25px;
}

.Home h2 {
    color: var(--grey);
    margin: 20px;
    font-size: 30px;
}

.Home hr {
    width: 100px;
    height: 2px;
    background-color: var(--green);
    border: none;
    margin-top: 0;
}

.Home Button {
    padding: 10px 20px;
    margin: 40px;
    font-size: 18px;
    background-color: var(--green);
    color: var(--white);
}

.Home .NavLink {
    text-decoration: none;
    color: var(--white);
    outline: none;
}

.Home .NavLink:active,
.Home .NavLink:focus,
.Home .NavLink:hover {
    color: var(--grey);
}

.Goals {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: rgb(233, 232, 232);
}

.GoalElements {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

.GoalElement {
    width: 80%;
    margin: 30px 40px;
    font-size: 20px;
    font-weight: bold;
    transition: color .3s;
}

.GoalElement:hover {
    color: var(--green)
}

.GoalElement i {
    font-size: 30px;
    margin-bottom: 15px;
}

@media (min-width: 500px) {
    .Home img {
        width: 60%;
    }

    .Home h2 {
        font-size: 35px;
    }

    .Home Button {
        padding: 12px 20px;
    }

    .GoalElements {
        flex-direction: column;
        width: 80%;
    }

    .GoalElement {
        width: 80%;
        font-size: 22px;
    }
}
@media (min-width: 768px) {
    .Home img {
        width: 45%;
        margin: 25px;
    }

    .GoalElements {
        flex-direction: row;
        width: 80%;
    }

    .GoalElement {
        width: 25%;
        font-size: 20px;
    }
}
@media (min-width: 992px) {
    .Home img {
        width: 35%;
        margin: 25px;
    }

    .Home Button {
        padding: 15px 25px;
        margin: 40px;
        font-size: 20px;
    }

    .GoalElement {
        width: 20%;
        margin: 30px 40px;
        font-size: 20px;
    }
}