.card {
    width: 100%;
    margin: 30px;
}

@media (min-width: 350px) {
    .card {
        width: 80%;
    }
}
@media (min-width: 576px) {
    .card {
        width: 50%;
    }
}
@media (min-width: 768px) {
    .card {
        width: 40%;
    }
}