.Assumptions {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.Assumptions hr {
    width: 100px;
    height: 2px;
    background-color: var(--green);
    border: none;
    margin-bottom: 20px;
}

.Assumptions h3 {
    margin-top: 30px;
    font-size: 25px;
}

.Assumptions Button {
    background-color: var(--green);
    color: var(--white);
    align-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
}

.Assumptions p {
    color: var(--danger);
    font-size: 18px;
    margin-bottom: 20px;
}

.Macronutrients {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.MacronutrientsInputs {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 576px) {
    .Assumptions h3 {
        font-size: 30px;
    }
    
    .Macronutrients {
        width: 95%;
        flex-direction: row;
    }
    
}
@media (min-width: 768px) {
    .Assumptions h3 {
        font-size: 33px;
    }
    
    .Assumptions Button {
        font-size: 17px;
    }
    
    .Macronutrients {
        width: 90%;
    }    
}
@media (min-width: 992px) {
    .Assumptions h3 {
        font-size: 36px;
    }
 
    .Macronutrients {
        width: 70%;
    }
}


