.Form {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.FormDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.Form input {
    height: 30px;
    width: 80%;
    margin-bottom: 10px;
}


.Form span {
    font-size: 12px;
    margin-bottom: 15px;
    color: var(--warning);
}

.Form hr {
    width: 100px;
    height: 2px;
    background-color: var(--green);
    border: none;
    margin-bottom: 20px;
    margin-top: 30px;
}

.Form h2 {
    margin: 30px;
}

.Form Button {
    background-color: var(--green);
    color: var(--white);
    align-self: center;
    margin-top: 10px ;
}

.Form .Border {
    border: 1px solid var(--green);
    width: 30%;
    padding: 20px;
}

.Form label {
    margin: 10px;
}

.Form p {
    color: var(--green);
    font-size: 20px;
    margin-bottom: 20px;
}