.Form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.FormDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.Form input {
    height: 30px;
    width: 80%;
    margin-bottom: 10px;
}


.Form span {
    font-size: 12px;
    margin-bottom: 15px;
    color: var(--warning);
}

.Form hr {
    width: 100px;
    height: 2px;
    background-color: var(--green);
    border: none;
    margin-bottom: 20px;
    margin-top: 30px;
}

.Form h2 {
    margin: 10px;
    font-size: 35px;
}

.Form Button {
    background-color: var(--green);
    color: var(--white);
    align-self: center;
    margin-top: 10px;
    font-size: 17px;
}

.Form .Border {
    border: 1px solid var(--green);
    width: 80%;
    padding: 20px;
    margin: 20px;
}

.Form label {
    margin: 10px;
}

.Form p {
    color: var(--green);
    font-size: 17px;
    margin-bottom: 20px;
}

.Form .Info {
    font-weight: bold;
}
.Form .Warning {
    color: var(--warning) !important
}

@media (min-width: 450px) {
    .Form .Border {
        width: 60%;
    }
}

@media (min-width: 576px) {
    .Form span {
        font-size: 12px;
        margin-bottom: 15px;
    }

    .Form h2 {
        font-size: 35px;
    }

    .Form .Border {
        width: 50%;
    }

    .Form label {
        font-size: 16px;
    }

    .Form p {
        font-size: 17px;
    }
}

@media (min-width: 768px) {
    .Form .Border {
        width: 40%;
    }
}

@media (min-width: 992px) {
    .Form span {
        font-size: 13px;
    }

    .Form h2 {
        font-size: 40px;
    }

    .Form .Border {
        width: 30%;
    }

    .Form p {
        font-size: 18px;
    }
}